@{
    ViewData["Title"] = "Diamond Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<img src="\images\Luffy.jpg" class="img-rounded"class="fixed-bottom" />

<h1 class="p-3 mb-2 bg-info text-white"> Woraput Sangchart</h1>

<h2 class="p-3 mb-2 bg-info text-white">Diamond </h2>