@{
    ViewData["Title"] = "Diamond Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<img src="\images\Luffy.jpg" class="img-rounded"class="fixed-bottom" />

<div class="p-3 mb-2 bg-info text-white">Diamond Woraput Sangchart</div>