@{
    ViewData["Title"] = "About";
}
<div>
    <div class="text-left row" style="background-color:skyblue;color:white;padding-top:60px">
            <br>
        <div class="col-md-2">
            <img src="\images\gen.jpg" class="img-circle img-responsive" style="margin-bottom:-50%; background-color:white; padding:6px"/>
        </div>
        <div class="col-md-10">
            <h3><b>Parada Genkung</b></h3>
            <p>My Life My Way.</p>
        </div>
    </div>
        <div class="row" style="background-color:#f7f7f7;">
        <div class="col-md-2"></div>
        <div class="col-md-offset-2 col-md-10">
            <h4>My id : 7204795</h4>
        </div>
    </div>
    <div class="row" style="background-color:#ffffff;">
        <div class="col-md-2"></div>
        <div class="col-md-offset-2 col-md-10">
            <h4>
                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Thailand&nbsp;&nbsp;
                <span class="glyphicon glyphicon-earphone"></span>&nbsp;9999999
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eleifend suscipit congue. 
                Suspendisse nunc dolor, facilisis nec ante at, tincidunt mattis arcu. Proin faucibus magna non tortor luctus, 
                feugiat aliquam nulla tristique. Pellentesque ipsum nisl, gravida sit amet aliquam eu, rhoncus sit amet mi.
                Aenean vitae ultricies nisi. Maecenas est lorem, blandit vitae tellus et, tempor volutpat lorem. Fusce dolor nibh,
                sollicitudin quis hendrerit vitae, maximus eget sem. Etiam varius porta purus, sit amet facilisis sapien aliquam non.
                Duis sit amet aliquam erat. Aliquam et feugiat mi. Etiam pretium ligula sapien, quis malesuada enim fermentum quis.</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <h3><span class="glyphicon glyphicon-pencil"></span> Illustration</h3>
        <div>
            <div style="padding:5px" class="col-md-3">
                <img src="\images\gen1.jpg" class="img-rounded img-responsive img-responsive"/>
            </div>
            <div style="padding:5px" class="col-md-3">
                <img src="\images\gen2.jpg" class="img-rounded img-responsive"/>
            </div>
            <div style="padding:5px" class="col-md-3">
                <img src="\images\gen3.jpg" class="img-rounded img-responsive"/>
            </div>
            <div style="padding:5px" class="col-md-3">
                <img src="\images\gen4.jpg" class="img-rounded img-responsive"/>
            </div>
            <div style="padding:5px" class="col-md-3">
                <img src="\images\gen5.jpg" class="img-rounded img-responsive"/>
            </div>
        </div>
    </div>
</div>

