@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <br>
    <div>
        <img src="\images\gen.jpg" class="img-circle" width="200"/>
            <h3>Parada Genkung</h3>
    </div>

</div>
