@{
    ViewData["Title"] = "About";
}
<h1 class="text-center text-warning">aMetisz</h1><hr>
<div class="text-center">
<img src="\images\pui.jpg" class="img-rounded" />
</div>
<div class="text-center text-danger">
    <h2>Name : Aphaphon Jaruthanaset</h2>
    <h2>Hobby : Books</h2>
    <h2>Movie : Romance,Action</h2>
</div>
